/* Call List CSS */
.navbar-toggler-border-color{
  color: pink;
}
  .nav li {
    display: inline-block;
    list-style: none;
    padding: 0 40px; /* "0" sets top and bottom padding to none */
    font-weight: 200px;
    font-size: 5px;
  }
  
  .nav li:hover {
    background: rgb(229, 221, 221);
  }
  
  .nav-link {
    color: black;
    text-decoration: none;
  }
  
  /* Table CSS */
   .card{
    justify-content: center;
    border: none;
    margin-left: 8%;
   }
   

  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  h1{
    text-align: center;
    margin-top: 2rem;
  }
  
  tr:nth-child(even){
    background-color: #f2f2f2
  }
  tr:hover {
    background-color:rgba(183, 183, 183, 0.776);
  }
  @media only screen and (min-width : 280px) {
    .card{ width: 90%;}
    .nav-link{color: #fff;}
    /* .action{min-width:45rem;} */
  }
  
  @media only screen and (min-width : 480px) {
    .card{ width: 86%;}
    .nav-link{color: #fff;}
  }
  
  /* @media only screen and (min-width : 768px) {
    .card{ width: 943px;}
    .nav-link{ color: #fff;}
  } */
  
  /* @media only screen and (min-width : 992px) {
    .card{ width: 980px;}
    .nav-link{ color: #fff;}
  } */
  