*{
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   
    box-sizing: border-box;
  }
img {
   height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* div {
  border-radius: 5px;
  margin: auto;
  padding: 10px 0;
  } */
/* .container{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    border-radius: 5px;
} */

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 20%;
    background: #f1f1f1;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
  }
  form.example{
    text-align: center;
  }
  
  form.example input[type=search] {
    
    font-size: 17px;
    border: 1px solid rgb(128, 128, 128);
    background: #fbef4a;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    border-left:1px solid rgb(128, 128, 128);
    cursor: pointer;
    text-align: center;
    
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }