h1{
    font-family: 'Playfair Display', serif;
}
  p {
    color: rgba(9, 248, 240, 0.96);
    font-family: 'Playfair Display', serif;
    font-size:20px;
    margin: 1rem;
    text-align: center;
    font-weight: 900;
  }

.logo{
    top: 0 !important;
    right: 0 !important;
    position: fixed;
    
}
